- name: test
  hosts: localhost
  connection: local

  tasks:
    - name: Create & Start Container
      docker_container:
          name: mhyweb
          image: "songcj1/tomcat:latest"
          state: started
          ports:
            - "80:8080"
